.container {
  text-align: center;
  background-color: rgb(54, 50, 50);
  border: 1px solid black;
  padding: 10px;
  width: 30vw;
  margin-left: 35vw;
  margin-top: 5vh;
  margin-bottom: auto;
}
.label {
  text-align: center;
}
